body {color: black;
    background-color:#ffedb5;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
h1 {color: #ff5419;
    font-size: 50px;
    margin: 50px 50px 30px 50px}
h2 {color:#263a7a;
    font-size: 25px;
    margin: 15px 50px 15px 100px;
    padding:10px 0px 0px 0px;
}
p {margin: 30px 50px 15px 50px}
em {font-style:italic}

ul {
    list-style-type:disc;
    margin: 20px 100px;
}
ol {list-style-type: decimal;
    margin: 20px 100px;
}
img {height:40px;
margin-left:50px;
float:left}